.color
{
    color:#ac0404;
    
}
.active
{
    color: #ac0404;
}
header
{
    background:url(../images/th.jpg);
    min-height: 600px;
    min-width: 702px;
    
}
.row.navigation {
margin-left: 0px;
margin-right: 0px;
}
.navigation
{
    
    background-color: black;
    position: fixed;
    top: 0%;
    min-height: 70px;
    min-width: 100%;
    
}
#person
{
    padding-top: 10px;
    color: white;
}
nav
{
    padding-top: 20px;
}
.link
{
    padding:6px;
    color: #ffffff;
    
}
.link:hover
{
    padding:6px;
    color: #ac0404;
    text-decoration: none;
}
.helloP
{
    margin-top: 200px;
}


.color2:hover
{
    background-color:  white;
    color: rgb(50, 105, 206);
    border-color: rgb(50, 105, 206);
}
#boxes
{
    position:fixed;
    top:150px;
    left:0px;
    background-color: rgb(63, 68, 68);
    min-width: 70px;
    min-height: 350px;
}
.bux
{
    color: white;
    position: fixed;
    left:0px;
    top:90px ;
    background-color: #ac0404;
    border-color: #ac0404;
    min-width: 50px;
    min-height: 50px;
    
}

.Myservice
{
    background-color: rgb(211, 205, 205);
    padding-top: 200px;
    min-height: 800px;
}
.ser
{
    padding-left: 50px;
    padding-bottom: 30px;
}
.serr
{
    margin-bottom: 30px;
}
.webdesign
{
    background-color:white;
    min-width:250px;
    height: 250px;
    margin-right: 30px;
    margin-bottom: 10px;
    transition-timing-function: ease-out;
    transition: 0.5s;
    padding-top: 50px;
    color: black;
}
.webdesign:hover
{
    background-color:#ac0404;
    margin-top: -10px;
    color: white;
}
.title
{
    font-size: 22px;
    font-family:unset;
    font-weight: bold;
}

.john
{
    background-color: #fdf3f3;
    padding-top: 20px;
    color:black;
    min-height: 600px;
    
}

.work .row p
{
    margin-top: 70px;
    font-size: medium;
}

.work .row span
{
    font-size:50px
}
.im
{
    
   
    background:url(../images/245078380.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 500px;
    opacity: 0.3;

    
}
.work
{
    background-color: rgb(28, 28, 29);
    min-height: 350px;
    color: white;
    opacity: 100%;
}
.contact
{
    
    min-height: 500px;
    color: black;
    position: absolute;
    top: 2450px;
    left: 200px;
}
.contact p
{
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: large;
}
.contact input,.comm,textarea
{
    background-color: black;
    border-color: transparent;
    opacity: 0.5;
    color: white;
    border-radius: 5px;
    width: 300px;
    min-height: 40px;
    max-height: 40px;
    margin-right: 50px;
    margin-left: -20px;
    margin-bottom: 20px;
}
.contact .comm
{
    margin-left: -10px;
}

.comm2
{
    background-color: black;
    border-color: transparent;
    opacity: 0.5;
    color: white;
    border-radius: 5px;
    margin-top: -95px;
    margin-left: 650px;
    width: 300px;
}
.contact textarea
{
    min-height: 100px;
    max-width: 630px;
    margin-left: -20px;
    margin-right: 51px;
}
.footer
{
    min-height: 300px;
    background-color: black;
    padding-left: 500px;
    color: white;
}
.footer p
{
    margin-left: -13px;
}
.footer button
{
    background-color: black;
    color: white;
    border-color: white;
    width: 60px;
    height: 40px;
    border-width: 1px;
    margin-top: 90px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.contact span
{
    margin-top: 50px;
    color: black;
    font-weight: bold;
    font-size: x-large;
}
.red
{
    
    background-color:#ac0404;
    display: block;
    max-width: 50px;
    min-height: 50px;
    margin-top: 30px;
    margin-left: 5px;
    
}
.yellow
{
    background-color:#f7fa33;
    display: block;
    max-width: 50px;
    min-height: 50px;
    margin-top: 10px;
    margin-left: 5px;
}
.blue
{
    background-color:#110363;
    display: block;
    max-width: 50px;
    min-height: 50px;
    margin-top: 10px;
    margin-left: 5px;
}
.purple
{
    background-color:#63033b;
    display: block;
    max-width: 50px;
    min-height: 50px;
    margin-top: 10px;
    margin-left: 5px;
}
.green
{
    background-color:#066303;
    display: block;
    max-width: 50px;
    min-height: 50px;
    margin-top: 10px;
    margin-left: 5px;
}
.hello
{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 160%;
    margin-left: 50px;
    
}
.hello button ,.color2
{
    margin-top: 50px;
    margin-right: 20px;
    background-color:  #ac0404;
    border-color: transparent;
    border-radius: 5px;
    min-height: 50px;
    max-height: 50px;
    color: white;
    font-size: medium;
    min-width: 120px;
    
}
.light
{
    font-weight:lighter;
}
.contact .color2
{
    width:630px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: -20px;
}

.john img,.john div,.serr h1,.serr p,.ser div ,.work p,.work span,.work button,.im,.contact p,.contact button,.contact span,
.contact textarea,.contact input
{
    position: static;
}